@import "~react-image-gallery/styles/css/image-gallery.css";

.container-form {
  max-width: 500px !important;
  margin: 100px auto;
}

a {
  text-decoration: inherit !important;
  color: inherit !important;
}

tr {
  vertical-align: middle !important;
}

.update-images {
  position: relative;
  transition: 0.3s ease;
}

.image-hower {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: 0.3s ease;
}
.update-images:hover >
.image-hower {
  z-index: 2;
  transition: 0.3s ease;
}